In [3]:
import pandas as pd

df = pd.read_stata('Resources/IGO_stata/igo_year_format_3.dta')
df.head()

,ioname,orgname,year,afghanistan,albania,algeria,andorra,angola,antiguabarbuda,argentina,...,longorgname,ionum,igocode,version,accuracyofpre1965membershipdates,sourcesandnotes,imputed,political,social,economic
0,ACPEU,ACP/EU Joint Assembly,1984,-9.0,-9.0,-9.0,-9.0,-9.0,-9.0,-9.0,...,ACP-EU Joint Assembly,10,NaN,2.1,Not applicable - created 1965 or later,,0.0,1.0,0.0,0.0
1,ACPEU,ACP/EU Joint Assembly,1985,-9.0,-9.0,-9.0,-9.0,-9.0,-9.0,-9.0,...,ACP-EU Joint Assembly,10,NaN,2.1,Not applicable - created 1965 or later,,0.0,1.0,0.0,0.0
2,ACPEU,ACP/EU Joint Assembly,1986,0.0,0.0,0.0,NaN,0.0,1.0,0.0,...,ACP-EU Joint Assembly,10,NaN,2.1,Not applicable - created 1965 or later,,0.0,1.0,0.0,0.0
3,ACPEU,ACP/EU Joint Assembly,1987,0.0,0.0,0.0,NaN,0.0,1.0,0.0,...,ACP-EU Joint Assembly,10,NaN,2.1,Not applicable - created 1965 or later,,0.0,1.0,0.0,0.0
4,ACPEU,ACP/EU Joint Assembly,1988,0.0,0.0,0.0,NaN,0.0,1.0,0.0,...,ACP-EU Joint Assembly,10,NaN,2.1,Not applicable - created 1965 or later,,0.0,1.0,0.0,0.0

In [5]:
df.fillna(value='', inplace=True)

In [6]:
df.head()

,ioname,orgname,year,afghanistan,albania,algeria,andorra,angola,antiguabarbuda,argentina,...,longorgname,ionum,igocode,version,accuracyofpre1965membershipdates,sourcesandnotes,imputed,political,social,economic
0,ACPEU,ACP/EU Joint Assembly,1984,-9,-9,-9,-9,-9,-9,-9,...,ACP-EU Joint Assembly,10,,2.1,Not applicable - created 1965 or later,,0,1,0,0
1,ACPEU,ACP/EU Joint Assembly,1985,-9,-9,-9,-9,-9,-9,-9,...,ACP-EU Joint Assembly,10,,2.1,Not applicable - created 1965 or later,,0,1,0,0
2,ACPEU,ACP/EU Joint Assembly,1986,0,0,0,,0,1,0,...,ACP-EU Joint Assembly,10,,2.1,Not applicable - created 1965 or later,,0,1,0,0
3,ACPEU,ACP/EU Joint Assembly,1987,0,0,0,,0,1,0,...,ACP-EU Joint Assembly,10,,2.1,Not applicable - created 1965 or later,,0,1,0,0
4,ACPEU,ACP/EU Joint Assembly,1988,0,0,0,,0,1,0,...,ACP-EU Joint Assembly,10,,2.1,Not applicable - created 1965 or later,,0,1,0,0

In [7]:
df.to_csv('Resources/IGO_csv/igo_year_format_3_cleaned.csv')

In [9]:
columns = df.columns

In [12]:
for column in columns:
    print(column + ' INT,')

ioname INT,
orgname INT,
year INT,
afghanistan INT,
albania INT,
algeria INT,
andorra INT,
angola INT,
antiguabarbuda INT,
argentina INT,
armenia INT,
australia INT,
austria INT,
austriahungary INT,
azerbaijan INT,
baden INT,
bahamas INT,
bahrain INT,
bangladesh INT,
barbados INT,
bavariaelect INT,
belarus INT,
belgium INT,
belize INT,
benin INT,
bhutan INT,
bolivia INT,
bosnia INT,
botswana INT,
brazil INT,
brunei INT,
bulgaria INT,
burkinafaso INT,
burundi INT,
car INT,
cambodia INT,
cameroon INT,
canada INT,
capeverde INT,
chad INT,
chile INT,
china INT,
colombia INT,
comoros INT,
congobrazz INT,
costarica INT,
croatia INT,
cuba INT,
cyprus INT,
czechrep INT,
czechoslovakia INT,
denmark INT,
djibouti INT,
domrepublic INT,
dominica INT,
egermany INT,
etimor INT,
ecuador INT,
egypt INT,
elsalvador INT,
eqguinea INT,
eritrea INT,
estonia INT,
ethiopia INT,
fyromacedonia INT,
fiji INT,
finland INT,
france INT,
gabon INT,
gambia INT,
georgia INT,
germany INT,
ghana INT,
greece INT,
grenada INT,
guatemala INT,
guinea INT,
guineabissau INT,
guyana INT,
haiti INT,
hanover INT,
hesseelect INT,
hessegrand INT,
honduras INT,
hungary INT,
iceland INT,
india INT,
indonesia INT,
iran INT,
iraq INT,
ireland INT,
israel INT,
italy INT,
ivorycoast INT,
jamaica INT,
japan INT,
jordan INT,
kazakhstan INT,
kenya INT,
kiribati INT,
korea INT,
kosovo INT,
kuwait INT,
kyrgyzstan INT,
laos INT,
latvia INT,
lebanon INT,
lesotho INT,
liberia INT,
libya INT,
liechtenstein INT,
lithuania INT,
luxembourg INT,
madagascar INT,
malawi INT,
malaysia INT,
maldives INT,
mali INT,
malta INT,
marshallis INT,
mauritania INT,
mauritius INT,
mecklenburg INT,
mexico INT,
micronesiafs INT,
modena INT,
moldova INT,
monaco INT,
mongolia INT,
morocco INT,
montenegro INT,
mozambique INT,
myanmar INT,
namibia INT,
nauru INT,
nepal INT,
netherlands INT,
newzealand INT,
nicaragua INT,
niger INT,
nigeria INT,
nokorea INT,
norway INT,
nyemen INT,
oman INT,
pakistan INT,
palau INT,
panama INT,
papalstates INT,
papuanewguinea INT,
paraguay INT,
parma INT,
peru INT,
philippines INT,
poland INT,
portugal INT,
qatar INT,
romania INT,
russia INT,
rwanda INT,
svietnam INT,
syemen INT,
sanmarino INT,
saotome INT,
saudiarabia INT,
saxony INT,
senegal INT,
seychelles INT,
sierraleone INT,
singapore INT,
slovakia INT,
slovenia INT,
soafrica INT,
sokorea INT,
sosudan INT,
solomonis INT,
somalia INT,
spain INT,
srilanka INT,
stkitts INT,
stlucia INT,
stvincent INT,
sudan INT,
suriname INT,
swaziland INT,
sweden INT,
switzerland INT,
syria INT,
taiwan INT,
tajikistan INT,
tanzania INT,
thailand INT,
togo INT,
tonga INT,
trinidad INT,
tunisia INT,
turkey INT,
turkmenistan INT,
tuscany INT,
tuvalu INT,
twosicilies INT,
uae INT,
uk INT,
usa INT,
uganda INT,
ukraine INT,
uruguay INT,
uzbekistan INT,
vanuatu INT,
venezuela INT,
vietnam INT,
wgermany INT,
wsamoa INT,
wurtenburg INT,
yemen INT,
yugoslaviaserb INT,
zaire INT,
zambia INT,
zanzibar INT,
zimbabwe INT,
sdate INT,
deaddate INT,
dead INT,
integrated INT,
replaced INT,
longorgname INT,
ionum INT,
igocode INT,
version INT,
accuracyofpre1965membershipdates INT,
sourcesandnotes INT,
imputed INT,
political INT,
social INT,
economic INT,

In [1]:
import pandas as pd

df = pd.read_stata('Resources/IGO_stata/state_year_format3.dta')
df.head()

,ccode,year,state,aaaid,aacb,aalco,aaro,aata,aatpo,abeda,...,wco,weu,who,wipo,wmo,wnf,wpact,wto,wtouro,wassen
0,2,1816,usa,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
1,2,1817,usa,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
2,2,1818,usa,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
3,2,1819,usa,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
4,2,1820,usa,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1

In [2]:
columns = df.columns

In [3]:
for column in columns:
    print(f'{column} INT,')

ccode INT,
year INT,
state INT,
aaaid INT,
aacb INT,
aalco INT,
aaro INT,
aata INT,
aatpo INT,
abeda INT,
abepseac INT,
acc INT,
acct INT,
acdt INT,
aci INT,
acml INT,
acp INT,
acpeu INT,
acs INT,
acso INT,
acssrb INT,
acu INT,
acwl INT,
afesd INT,
afeximb INT,
afgec INT,
afpu INT,
afrand INT,
afristat INT,
afspc INT,
afte INT,
agc INT,
agpundo INT,
aic INT,
aidc INT,
aido INT,
aioec INT,
aipo INT,
aitic INT,
alo INT,
alsf INT,
amco INT,
amcow INT,
amf INT,
amipo INT,
amptu INT,
amsc INT,
amu INT,
anzus INT,
aoad INT,
aocrs INT,
aomr INT,
aopu INT,
ap INT,
apcc INT,
apec INT,
apfic INT,
apibd INT,
apo INT,
appa INT,
apt INT,
aptu INT,
arc INT,
arcal INT,
aripo INT,
arpu INT,
asatp INT,
asblac INT,
ascbc INT,
ascrubber INT,
asean INT,
asecna INT,
asef INT,
aspac INT,
ato INT,
atpc INT,
au INT,
avrdc INT,
afdb INT,
afropda INT,
africarice INT,
africare INT,
amcc INT,
andean INT,
aralsea INT,
articc INT,
asdb INT,
baltbat INT,
bc INT,
bcsc INT,
benelux INT,
biisef INT,
bionet INT,
bipm INT,
bis INT,
bndp INT,
bobp INT,
bonn INT,
borgip INT,
bs INT,
bsec INT,
caad INT,
caarc INT,
cab INT,
cabi INT,
cacb INT,
caci INT,
caec INT,
caecc INT,
caipa INT,
cames INT,
camrsd INT,
camsf INT,
caricom INT,
carifta INT,
carii INT,
catc INT,
cbfp INT,
cbi INT,
cbss INT,
ccnr INT,
ccom INT,
ccpa INT,
ccomm INT,
cdb INT,
ceao INT,
cec INT,
ceepn INT,
cefta INT,
cei INT,
celc INT,
cemac INT,
cento INT,
cepgl INT,
cern INT,
cfatf INT,
cfc INT,
chstea INT,
cica INT,
cifc INT,
cilss INT,
cima INT,
cis INT,
cmaec INT,
cmaoc INT,
cmea INT,
cmhasg INT,
coe INT,
colombo INT,
comesa INT,
confejes INT,
coptac INT,
cosave INT,
cpab INT,
cpsc INT,
cpu INT,
cslf INT,
csto INT,
ctcaf INT,
cto INT,
cwgc INT,
cxc INT,
cfrn INT,
comab INT,
comsec INT,
corg INT,
d8 INT,
dbgls INT,
dlcoea INT,
danube INT,
eac INT,
eacm INT,
eacso INT,
eadb INT,
eaec INT,
eapc INT,
eapo INT,
ebrd INT,
ecb INT,
ecca INT,
eccas INT,
eccb INT,
eccd INT,
eccm INT,
eccpif INT,
eco INT,
ecowas INT,
ecpta INT,
ecsc INT,
eec INT,
efcc INT,
efilwc INT,
efta INT,
eib INT,
eip INT,
eipa INT,
eldo INT,
emb INT,
embc INT,
embl INT,
emi INT,
emppo INT,
epa INT,
epfsc INT,
epo INT,
epu INT,
eria INT,
esa INT,
eso INT,
esro INT,
etf INT,
eu INT,
eufmd INT,
euramet INT,
euratom INT,
eurocontrol INT,
eurofima INT,
euromet INT,
entente INT,
fao INT,
fdiplac INT,
fec INT,
g15 INT,
g24 INT,
g3 INT,
gatt INT,
gbact INT,
gcc INT,
gcrsnc INT,
gef INT,
geo INT,
ghsi INT,
glacsec INT,
goic INT,
hcpil INT,
iabe INT,
iabath INT,
iacb INT,
iaci INT,
iacs INT,
iacss INT,
iacw INT,
iadb INT,
iadefb INT,
iaea INT,
iafc INT,
iahc INT,
iaias INT,
iaic INT,
iaigc INT,
iaii INT,
ialong INT,
iamlo INT,
iaphy INT,
iara INT,
iarhc INT,
iaradio INT,
iaruhr INT,
ias INT,
iasaj INT,
iatb INT,
iatsj INT,
iattc INT,
iba INT,
ibcs INT,
ibe INT,
ibec INT,
ibi INT,
ibier INT,
ibpmp INT,
ibrd INT,
icac INT,
icai INT,
icao INT,
icamo INT,
icc INT,
iccec INT,
iccilmb INT,
icco INT,
iccrom INT,
iccs INT,
iccslt INT,
icdr INT,
ices INT,
icfam INT,
ichrb INT,
icmmp INT,
icnc INT,
icnwaf INT,
icprp INT,
icptu INT,
icri INT,
icrpbc INT,
icse INT,
icseaf INT,
icsg INT,
ictm INT,
icfo INT,
ichemo INT,
icivdo INT,
icomo INT,
idc INT,
iea INT,
iec INT,
ies INT,
iexb INT,
ifad INT,
ifc INT,
ifca INT,
igad INT,
igc INT,
igcc INT,
iho INT,
iia INT,
iicom INT,
iie INT,
iif INT,
iifeo INT,
iiwee INT,
ijo INT,
ilo INT,
ilzsg INT,
imbslav INT,
imc INT,
imf INT,
imi INT,
imo INT,
imso INT,
incap INT,
infofish INT,
infsmk INT,
inpfc INT,
inro INT,
insg INT,
intelsat INT,
interpol INT,
ioathre INT,
iocom INT,
ioez INT,
iolm INT,
iomig INT,
iooc INT,
iopcf INT,
ioph INT,
iorarc INT,
iocc INT,
ipc INT,
ipi INT,
ipedi INT,
ipentc INT,
iphyl INT,
iprizec INT,
irena INT,
irlcs INT,
iro INT,
irsg INT,
iru INT,
isa INT,
isb INT,
isdb INT,
ishrest INT,
isrbc INT,
isupt INT,
isuc INT,
itc INT,
itcc INT,
itcle INT,
itpa INT,
itro INT,
itto INT,
itu INT,
itvrc INT,
iuic INT,
iupct INT,
iupip INT,
iuplaw INT,
iupnvp INT,
iupr INT,
ivwo INT,
iwsg INT,
iwhale INT,
iocean INT,
jalaao INT,
jinr INT,
jnolcrh INT,
lacac INT,
lacp INT,
laeo INT,
lafdo INT,
lafta INT,
laia INT,
laiec INT,
latin INT,
lcbc INT,
lgida INT,
loas INT,
lon INT,
maocn INT,
marri INT,
mcpttc INT,
mcwcasm INT,
mfo INT,
miga INT,
mru INT,
mwn INT,
mercosur INT,
montreal INT,
nacap INT,
nafo INT,
nafta INT,
nam INT,
nappo INT,
nasco INT,
nato INT,
ncm INT,
ncrr INT,
nctr INT,
ndf INT,
neafc INT,
nerc INT,
nib INT,
npafc INT,
npfsc INT,
npi INT,
nrc INT,
ntsc INT,
nvc INT,
nwhf INT,
nordc INT,
oapec INT,
oas INT,
oau INT,
ocam INT,
ocas INT,
occedca INT,
ocr INT,
oecd INT,
oecs INT,
oeec INT,
oic INT,
oiv INT,
omdkr INT,
omvg INT,
opanal INT,
opec INT,
osce INT,
oslo INT,
ospar INT,
otif INT,
pahc INT,
paho INT,
paigh INT,
pap INT,
papu INT,
pc INT,
pca INT,
pcb INT,
pcsp INT,
ped INT,
piarc INT,
pibac INT,
pices INT,
pics INT,
pif INT,
pipd INT,
pmaesa INT,
psnarco INT,
ptasea INT,
puasp INT,
rascom INT,
rcaela INT,
rcc INT,
rcfc INT,
recsa INT,
rimmo INT,
rioppah INT,
riogroup INT,
radiou INT,
repcom INT,
saafa INT,
saarc INT,
sacep INT,
sacu INT,
sadc INT,
sadcc INT,
sami INT,
sartc INT,
sca INT,
scaf INT,
sch INT,
schengen INT,
sco INT,
seameo INT,
seato INT,
segib INT,
sela INT,
sica INT,
sieca INT,
sittdec INT,
spc INT,
srdo INT,
swapu INT,
swpd INT,
sugu INT,
tcrmg INT,
turksoy INT,
uasc INT,
ubec INT,
udeac INT,
uemoa INT,
uiucv INT,
ukdwd INT,
um INT,
umac INT,
umoa INT,
un INT,
unesco INT,
unido INT,
unidroit INT,
upu INT,
usp INT,
valdivia INT,
vasab INT,
waec INT,
wahc INT,
waho INT,
wcdc INT,
wco INT,
weu INT,
who INT,
wipo INT,
wmo INT,
wnf INT,
wpact INT,
wto INT,
wtouro INT,
wassen INT,