In [27]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://postgres:postgres@localhost')

In [28]:
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Float, Date
Base = declarative_base()
from sqlalchemy.orm import Session
session = Session(bind=engine)
conn = engine.connect()
conn.execute('commit')
conn.execute('create database cow')
conn.close()

In [0]:
import pandas as pd
states2016 = pd.read_csv('Resources/states2016.csv',delimiter=',')

In [5]:
states2016.head()

,Unnamed: 0,stateabb,ccode,statenme,styear,stmonth,stday,endyear,endmonth,endday,version
0,0,USA,2,United States of America,1816,1,1,2016,12,31,2016
1,1,CAN,20,Canada,1920,1,10,2016,12,31,2016
2,2,BHM,31,Bahamas,1973,7,10,2016,12,31,2016
3,3,CUB,40,Cuba,1902,5,20,1906,9,25,2016
4,4,CUB,40,Cuba,1909,1,23,2016,12,31,2016

In [6]:
class States(Base):
    __tablename__ = 'states2016'
    id = Column(Integer, primary_key=True)
    stateabb = Column(String(3))
    ccode = Column(Integer)
    statenme = Column(String(255))
    styear = Column(Integer)
    stmonth = Column(Integer)
    stday = Column(Integer)
    endyear = Column(Integer)
    endmonth = Column(Integer)
    endday = Column(Integer)
    version = Column(Integer)
Base.metadata.create_all(engine)

In [7]:
for i in range(len(states2016)):
    id = i
    stateabb = states2016['stateabb'][i]
    ccode = int(states2016['ccode'][i])
    statenme = states2016['statenme'][i]
    styear = int(states2016['styear'][i])
    stmonth = int(states2016['stmonth'][i])
    stday = int(states2016['stday'][i])
    endyear = int(states2016['endyear'][i])
    endmonth = int(states2016['endmonth'][i])
    endday = int(states2016['endday'][i])
    version = int(states2016['version'][i])

    state = States(stateabb=stateabb, ccode=ccode, statenme=statenme, styear=styear, stmonth=stmonth, stday=stday, endyear=endyear, endmonth=endmonth, endday=endday, version=version)
    session.add(state)
session.commit()

In [8]:
system2016 = pd.read_csv('Resources/system2016.csv',delimiter=',')
system2016.head()

   Unnamed: 0 stateabb  ccode  year  version
0           0      USA      2  1816     2016
1           1      UKG    200  1816     2016
2           2      NTH    210  1816     2016
3           3      FRN    220  1816     2016
4           4      SWZ    225  1816     2016

In [9]:
class System(Base):
    __tablename__ = 'system'
    id = Column(Integer, primary_key=True)
    stateabb = Column(String(3))
    ccode = Column(Integer)
    year = Column(Integer)
    version = Column(Integer)
Base.metadata.create_all(engine)

In [10]:
for i in range(len(system2016)):
    system = System(stateabb=system2016['stateabb'][i], ccode=int(system2016['ccode'][i]), year=int(system2016['year'][i]), version=int(system2016['version'][i]))
    session.add(system)
    session.commit()

In [11]:
data = session.query(System).all()
#for datum in data:
#    print(datum.stateabb, datum.ccode, datum.year, datum.version)

In [12]:
WRPglobal = pd.read_csv('Resources/WRP_global.csv',delimiter=',')
WRPglobal.head()

,Unnamed: 0,year,chrstprot,chrstcat,chrstorth,chrstang,chrstothr,chrstgen,judorth,jdcons,...,taogenpct,jaingenpct,confgenpct,syncgenpct,anmgenpct,nonreligpct,othrgenpct,sumreligpct,ptctotal,version
0,0,1945,"160,887,585","391,332,035","98,501,171","36,955,033","13,674,466","701,350,290","856,827","1,426,350",...,0.0001,0.0000,0.0000,0.2666,0.0207,0.0955,0.0061,1.012061,0.718667,1.1
1,1,1950,"133,301,043","401,935,856","106,610,911","38,307,544","16,324,768","696,480,122","2,204,231","1,860,297",...,0.0004,0.0008,0.0012,0.1945,0.0400,0.0869,0.0055,1.011166,0.802432,1.1
2,2,1955,"189,347,338","474,378,130","111,661,338","38,177,572","22,437,724","836,002,102","2,496,432","1,653,007",...,0.0005,0.0006,0.0012,0.1521,0.0370,0.1199,0.0084,1.011792,0.834366,1.1
3,3,1960,"220,293,770","541,957,872","118,268,109","41,846,700","44,601,144","966,967,595","2,818,847","1,716,903",...,0.0005,0.0007,0.0012,0.1113,0.0465,0.1488,0.0065,1.013598,0.873137,1.1
4,4,1965,"234,437,703","614,115,021","125,954,494","45,086,639","55,119,929","1,074,713,786","3,295,632","1,760,345",...,0.0005,0.0007,0.0014,0.1094,0.0491,0.1446,0.0126,1.006728,0.884908,1.1

In [33]:
pd.to_numeric(WRPglobal)

TypeError: arg must be a list, tuple, 1-d array, or Series

In [46]:
columns = [column for column in WRPglobal.columns]
columns = columns[1:]
for column in columns:
    to_exec = f'WRPglobal[\'{column}\'] = pd.to_numeric(WRPglobal[\'{column}\'])'
    exec(to_exec)

ValueError: Unable to parse string "160,887,585" at position 0

In [41]:
WRPglobal['year'] = pd.to_numeric(WRPglobal['year'])
to_eval

"WRPglobal['year'] = pd.to_numeric(WRPglobal['year'])"

In [42]:
WRPglobal['year'] = pd.to_numeric(WRPglobal['year'])

In [29]:
#for column in columns:
    #print(column + ' = Column(Integer)')

    #print(f'{column} = str(WRPglobal[\'{column}\'][i])')
    #print(f'{column} = {column}.replace(\',\', \'\')')
    #print(f'{column} = int({column})')

    #print(f'{column} = {column}, ')
    #print(f'{column} = float(WRPglobal[\'{column}\'][i])')