In [1]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://postgres:postgres@localhost')

In [2]:
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Float, Date
Base = declarative_base()
from sqlalchemy.orm import Session
session = Session(bind=engine)
conn = engine.connect()
conn.execute('commit')
conn.execute('create database cow')
conn.close()

In [3]:
import pandas as pd
states2016 = pd.read_csv('Resources/states2016.csv',delimiter=',')

In [4]:
states2016.head()

,Unnamed: 0,stateabb,ccode,statenme,styear,stmonth,stday,endyear,endmonth,endday,version
0,0,USA,2,United States of America,1816,1,1,2016,12,31,2016
1,1,CAN,20,Canada,1920,1,10,2016,12,31,2016
2,2,BHM,31,Bahamas,1973,7,10,2016,12,31,2016
3,3,CUB,40,Cuba,1902,5,20,1906,9,25,2016
4,4,CUB,40,Cuba,1909,1,23,2016,12,31,2016

In [5]:
class States(Base):
    __tablename__ = 'states2016'
    id = Column(Integer, primary_key=True)
    stateabb = Column(String(3))
    ccode = Column(Integer)
    statenme = Column(String(255))
    styear = Column(Integer)
    stmonth = Column(Integer)
    stday = Column(Integer)
    endyear = Column(Integer)
    endmonth = Column(Integer)
    endday = Column(Integer)
    version = Column(Integer)
Base.metadata.create_all(engine)

In [6]:
for i in range(len(states2016)):
    id = i
    stateabb = states2016['stateabb'][i]
    ccode = int(states2016['ccode'][i])
    statenme = states2016['statenme'][i]
    styear = int(states2016['styear'][i])
    stmonth = int(states2016['stmonth'][i])
    stday = int(states2016['stday'][i])
    endyear = int(states2016['endyear'][i])
    endmonth = int(states2016['endmonth'][i])
    endday = int(states2016['endday'][i])
    version = int(states2016['version'][i])

    state = States(stateabb=stateabb, ccode=ccode, statenme=statenme, styear=styear, stmonth=stmonth, stday=stday, endyear=endyear, endmonth=endmonth, endday=endday, version=version)
    session.add(state)
session.commit()

In [7]:
system2016 = pd.read_csv('Resources/system2016.csv',delimiter=',')
system2016.head()

   Unnamed: 0 stateabb  ccode  year  version
0           0      USA      2  1816     2016
1           1      UKG    200  1816     2016
2           2      NTH    210  1816     2016
3           3      FRN    220  1816     2016
4           4      SWZ    225  1816     2016

In [8]:
class System(Base):
    __tablename__ = 'system'
    id = Column(Integer, primary_key=True)
    stateabb = Column(String(3))
    ccode = Column(Integer)
    year = Column(Integer)
    version = Column(Integer)
Base.metadata.create_all(engine)

In [10]:
for i in range(len(system2016)):
    system = System(stateabb=system2016['stateabb'][i], ccode=int(system2016['ccode'][i]), year=int(system2016['year'][i]), version=int(system2016['version'][i]))
    session.add(system)
session.commit()

In [12]:
#data = session.query(System).all()
#for datum in data:
#    print(datum.stateabb, datum.ccode, datum.year, datum.version)

In [17]:
WRPglobal = pd.read_csv('Resources/WRP_global.csv',delimiter=',',low_memory=False)
WRPglobal.head()

,Unnamed: 0,year,chrstprot,chrstcat,chrstorth,chrstang,chrstothr,chrstgen,judorth,jdcons,...,taogenpct,jaingenpct,confgenpct,syncgenpct,anmgenpct,nonreligpct,othrgenpct,sumreligpct,ptctotal,version
0,0,1945,"160,887,585","391,332,035","98,501,171","36,955,033","13,674,466","701,350,290","856,827","1,426,350",...,0.0001,0.0000,0.0000,0.2666,0.0207,0.0955,0.0061,1.012061,0.718667,1.1
1,1,1950,"133,301,043","401,935,856","106,610,911","38,307,544","16,324,768","696,480,122","2,204,231","1,860,297",...,0.0004,0.0008,0.0012,0.1945,0.0400,0.0869,0.0055,1.011166,0.802432,1.1
2,2,1955,"189,347,338","474,378,130","111,661,338","38,177,572","22,437,724","836,002,102","2,496,432","1,653,007",...,0.0005,0.0006,0.0012,0.1521,0.0370,0.1199,0.0084,1.011792,0.834366,1.1
3,3,1960,"220,293,770","541,957,872","118,268,109","41,846,700","44,601,144","966,967,595","2,818,847","1,716,903",...,0.0005,0.0007,0.0012,0.1113,0.0465,0.1488,0.0065,1.013598,0.873137,1.1
4,4,1965,"234,437,703","614,115,021","125,954,494","45,086,639","55,119,929","1,074,713,786","3,295,632","1,760,345",...,0.0005,0.0007,0.0014,0.1094,0.0491,0.1446,0.0126,1.006728,0.884908,1.1

In [18]:
WRPglobal.columns

Index(['Unnamed: 0', 'year', 'chrstprot', 'chrstcat', 'chrstorth', 'chrstang',
       'chrstothr', 'chrstgen', 'judorth', 'jdcons', 'judref', 'judothr',
       'judgen', 'islmsun', 'islmshi', 'islmibd', 'islmnat', 'islmalw',
       'islmahm', 'islmothr', 'islmgen', 'budmah', 'budthr', 'budothr',
       'budgen', 'zorogen', 'hindgen', 'sikhgen', 'shntgen', 'bahgen',
       'taogen', 'jaingen', 'confgen', 'syncgen', 'anmgen', 'nonrelig',
       'othrgen', 'sumrelig', 'pop', 'worldpop', 'chrstprotpct', 'chrstcatpct',
       'chrstorthpct', 'chrstangpct', 'chrstothrpct', 'chrstgenpct',
       'judorthpct', 'judconspct', 'judrefpct', 'judothrpct', 'judgenpct',
       'islmsunpct', 'islmshipct', 'islmibdpct', 'islmnatpct', 'islmalwpct',
       'islmahmpct', 'islmothrpct', 'islmgenpct', 'budmahpct', 'budthrpct',
       'budothrpct', 'budgenpct', 'zorogenpct', 'hindgenpct', 'sikhgenpct',
       'shntgenpct', 'bahgenpct', 'taogenpct', 'jaingenpct', 'confgenpct',
       'syncgenpct', 'anmgenpct', 'nonreligpct', 'othrgenpct', 'sumreligpct',
       'ptctotal', 'version'],
      dtype='object')

In [20]:
columns = [column for column in WRPglobal.columns]
columns = columns[1:]
#for column in columns:
#    to_exec = f'WRPglobal[\'{column}\'] = pd.to_numeric(WRPglobal[\'{column}\'])'
#    exec(to_exec)
for column in columns:
    print(column, type(column))
int_columns = ['year','chrstprot', 'chrstcat', 'chrstorth', 'chrstang',
       'chrstothr', 'chrstgen', 'judorth', 'jdcons', 'judref', 'judothr',
       'judgen', 'islmsun', 'islmshi', 'islmibd', 'islmnat', 'islmalw',
       'islmahm', 'islmothr', 'islmgen', 'budmah', 'budthr', 'budothr',
       'budgen', 'zorogen', 'hindgen', 'sikhgen', 'shntgen', 'bahgen',
       'taogen', 'jaingen', 'confgen', 'syncgen', 'anmgen', 'nonrelig',
       'othrgen', 'sumrelig', 'pop', 'worldpop']
int_columns

year <class 'str'>
chrstprot <class 'str'>
chrstcat <class 'str'>
chrstorth <class 'str'>
chrstang <class 'str'>
chrstothr <class 'str'>
chrstgen <class 'str'>
judorth <class 'str'>
jdcons <class 'str'>
judref <class 'str'>
judothr <class 'str'>
judgen <class 'str'>
islmsun <class 'str'>
islmshi <class 'str'>
islmibd <class 'str'>
islmnat <class 'str'>
islmalw <class 'str'>
islmahm <class 'str'>
islmothr <class 'str'>
islmgen <class 'str'>
budmah <class 'str'>
budthr <class 'str'>
budothr <class 'str'>
budgen <class 'str'>
zorogen <class 'str'>
hindgen <class 'str'>
sikhgen <class 'str'>
shntgen <class 'str'>
bahgen <class 'str'>
taogen <class 'str'>
jaingen <class 'str'>
confgen <class 'str'>
syncgen <class 'str'>
anmgen <class 'str'>
nonrelig <class 'str'>
othrgen <class 'str'>
sumrelig <class 'str'>
pop <class 'str'>
worldpop <class 'str'>
chrstprotpct <class 'str'>
chrstcatpct <class 'str'>
chrstorthpct <class 'str'>
chrstangpct <class 'str'>
chrstothrpct <class 'str'>
chrstgenpct <class 'str'>
judorthpct <class 'str'>
judconspct <class 'str'>
judrefpct <class 'str'>
judothrpct <class 'str'>
judgenpct <class 'str'>
islmsunpct <class 'str'>
islmshipct <class 'str'>
islmibdpct <class 'str'>
islmnatpct <class 'str'>
islmalwpct <class 'str'>
islmahmpct <class 'str'>
islmothrpct <class 'str'>
islmgenpct <class 'str'>
budmahpct <class 'str'>
budthrpct <class 'str'>
budothrpct <class 'str'>
budgenpct <class 'str'>
zorogenpct <class 'str'>
hindgenpct <class 'str'>
sikhgenpct <class 'str'>
shntgenpct <class 'str'>
bahgenpct <class 'str'>
taogenpct <class 'str'>
jaingenpct <class 'str'>
confgenpct <class 'str'>
syncgenpct <class 'str'>
anmgenpct <class 'str'>
nonreligpct <class 'str'>
othrgenpct <class 'str'>
sumreligpct <class 'str'>
ptctotal <class 'str'>
version <class 'str'>

['chrstprot',
 'chrstcat',
 'chrstorth',
 'chrstang',
 'chrstothr',
 'chrstgen',
 'judorth',
 'jdcons',
 'judref',
 'judothr',
 'judgen',
 'islmsun',
 'islmshi',
 'islmibd',
 'islmnat',
 'islmalw',
 'islmahm',
 'islmothr',
 'islmgen',
 'budmah',
 'budthr',
 'budothr',
 'budgen',
 'zorogen',
 'hindgen',
 'sikhgen',
 'shntgen',
 'bahgen',
 'taogen',
 'jaingen',
 'confgen',
 'syncgen',
 'anmgen',
 'nonrelig',
 'othrgen',
 'sumrelig',
 'pop',
 'worldpop']

In [26]:
WRPglobal['year'] = pd.to_numeric(WRPglobal['year'])
WRPglobal['chrstprot'] = WRPglobal['chrstprot'].replace(',', '', regex=True).astype(int)
for column in int_columns:
    to_exec = f'WRPglobal[\'{column}\'] = WRPglobal[\'{column}\'].replace(\',\', \'\', regex=True).astype(int)'
    exec(to_exec)

In [27]:
WRPglobal.head()

,Unnamed: 0,year,chrstprot,chrstcat,chrstorth,chrstang,chrstothr,chrstgen,judorth,jdcons,...,taogenpct,jaingenpct,confgenpct,syncgenpct,anmgenpct,nonreligpct,othrgenpct,sumreligpct,ptctotal,version
0,0,1945,160887585,391332035,98501171,36955033,13674466,701350290,856827,1426350,...,0.0001,0.0000,0.0000,0.2666,0.0207,0.0955,0.0061,1.012061,0.718667,1.1
1,1,1950,133301043,401935856,106610911,38307544,16324768,696480122,2204231,1860297,...,0.0004,0.0008,0.0012,0.1945,0.0400,0.0869,0.0055,1.011166,0.802432,1.1
2,2,1955,189347338,474378130,111661338,38177572,22437724,836002102,2496432,1653007,...,0.0005,0.0006,0.0012,0.1521,0.0370,0.1199,0.0084,1.011792,0.834366,1.1
3,3,1960,220293770,541957872,118268109,41846700,44601144,966967595,2818847,1716903,...,0.0005,0.0007,0.0012,0.1113,0.0465,0.1488,0.0065,1.013598,0.873137,1.1
4,4,1965,234437703,614115021,125954494,45086639,55119929,1074713786,3295632,1760345,...,0.0005,0.0007,0.0014,0.1094,0.0491,0.1446,0.0126,1.006728,0.884908,1.1

In [31]:
float_columns = ['chrstprotpct', 'chrstcatpct',
       'chrstorthpct', 'chrstangpct', 'chrstothrpct', 'chrstgenpct',
       'judorthpct', 'judconspct', 'judrefpct', 'judothrpct', 'judgenpct',
       'islmsunpct', 'islmshipct', 'islmibdpct', 'islmnatpct', 'islmalwpct',
       'islmahmpct', 'islmothrpct', 'islmgenpct', 'budmahpct', 'budthrpct',
       'budothrpct', 'budgenpct', 'zorogenpct', 'hindgenpct', 'sikhgenpct',
       'shntgenpct', 'bahgenpct', 'taogenpct', 'jaingenpct', 'confgenpct',
       'syncgenpct', 'anmgenpct', 'nonreligpct', 'othrgenpct', 'sumreligpct',
       'ptctotal', 'version']
for column in float_columns:
    to_exec = f'WRPglobal[\'{column}\'] = WRPglobal[\'{column}\'].replace(\',\', \'\', regex=True).astype(float)'
    exec(to_exec)

In [32]:
WRPglobal.head()

,Unnamed: 0,year,chrstprot,chrstcat,chrstorth,chrstang,chrstothr,chrstgen,judorth,jdcons,...,taogenpct,jaingenpct,confgenpct,syncgenpct,anmgenpct,nonreligpct,othrgenpct,sumreligpct,ptctotal,version
0,0,1945,160887585,391332035,98501171,36955033,13674466,701350290,856827,1426350,...,0.0001,0.0000,0.0000,0.2666,0.0207,0.0955,0.0061,1.012061,0.718667,1.1
1,1,1950,133301043,401935856,106610911,38307544,16324768,696480122,2204231,1860297,...,0.0004,0.0008,0.0012,0.1945,0.0400,0.0869,0.0055,1.011166,0.802432,1.1
2,2,1955,189347338,474378130,111661338,38177572,22437724,836002102,2496432,1653007,...,0.0005,0.0006,0.0012,0.1521,0.0370,0.1199,0.0084,1.011792,0.834366,1.1
3,3,1960,220293770,541957872,118268109,41846700,44601144,966967595,2818847,1716903,...,0.0005,0.0007,0.0012,0.1113,0.0465,0.1488,0.0065,1.013598,0.873137,1.1
4,4,1965,234437703,614115021,125954494,45086639,55119929,1074713786,3295632,1760345,...,0.0005,0.0007,0.0014,0.1094,0.0491,0.1446,0.0126,1.006728,0.884908,1.1

In [47]:
columns = [column for column in WRPglobal.columns]
columns = columns[1:]
int_columns = ['year','chrstprot', 'chrstcat', 'chrstorth', 'chrstang',
       'chrstothr', 'chrstgen', 'judorth', 'jdcons', 'judref', 'judothr',
       'judgen', 'islmsun', 'islmshi', 'islmibd', 'islmnat', 'islmalw',
       'islmahm', 'islmothr', 'islmgen', 'budmah', 'budthr', 'budothr',
       'budgen', 'zorogen', 'hindgen', 'sikhgen', 'shntgen', 'bahgen',
       'taogen', 'jaingen', 'confgen', 'syncgen', 'anmgen', 'nonrelig',
       'othrgen', 'sumrelig', 'pop', 'worldpop']
for column in columns:
    if column in int_columns:
        print(f'{column} = Column(Integer)')
    elif column in float_columns:
        print(f'{column} = Column(Float)')
    else:
        print(f'{column}: ACK!')

year = Column(Integer)
chrstprot = Column(Integer)
chrstcat = Column(Integer)
chrstorth = Column(Integer)
chrstang = Column(Integer)
chrstothr = Column(Integer)
chrstgen = Column(Integer)
judorth = Column(Integer)
jdcons = Column(Integer)
judref = Column(Integer)
judothr = Column(Integer)
judgen = Column(Integer)
islmsun = Column(Integer)
islmshi = Column(Integer)
islmibd = Column(Integer)
islmnat = Column(Integer)
islmalw = Column(Integer)
islmahm = Column(Integer)
islmothr = Column(Integer)
islmgen = Column(Integer)
budmah = Column(Integer)
budthr = Column(Integer)
budothr = Column(Integer)
budgen = Column(Integer)
zorogen = Column(Integer)
hindgen = Column(Integer)
sikhgen = Column(Integer)
shntgen = Column(Integer)
bahgen = Column(Integer)
taogen = Column(Integer)
jaingen = Column(Integer)
confgen = Column(Integer)
syncgen = Column(Integer)
anmgen = Column(Integer)
nonrelig = Column(Integer)
othrgen = Column(Integer)
sumrelig = Column(Integer)
pop = Column(Integer)
worldpop = Column(Integer)
chrstprotpct = Column(Float)
chrstcatpct = Column(Float)
chrstorthpct = Column(Float)
chrstangpct = Column(Float)
chrstothrpct = Column(Float)
chrstgenpct = Column(Float)
judorthpct = Column(Float)
judconspct = Column(Float)
judrefpct = Column(Float)
judothrpct = Column(Float)
judgenpct = Column(Float)
islmsunpct = Column(Float)
islmshipct = Column(Float)
islmibdpct = Column(Float)
islmnatpct = Column(Float)
islmalwpct = Column(Float)
islmahmpct = Column(Float)
islmothrpct = Column(Float)
islmgenpct = Column(Float)
budmahpct = Column(Float)
budthrpct = Column(Float)
budothrpct = Column(Float)
budgenpct = Column(Float)
zorogenpct = Column(Float)
hindgenpct = Column(Float)
sikhgenpct = Column(Float)
shntgenpct = Column(Float)
bahgenpct = Column(Float)
taogenpct = Column(Float)
jaingenpct = Column(Float)
confgenpct = Column(Float)
syncgenpct = Column(Float)
anmgenpct = Column(Float)
nonreligpct = Column(Float)
othrgenpct = Column(Float)
sumreligpct = Column(Float)
ptctotal = Column(Float)
version = Column(Float)

In [48]:
class WRP_Global(Base):
    __tablename__ = 'wrp_global'
    id = Column(Integer, primary_key=True)
    year = Column(Integer)
    chrstprot = Column(Integer)
    chrstcat = Column(Integer)
    chrstorth = Column(Integer)
    chrstang = Column(Integer)
    chrstothr = Column(Integer)
    chrstgen = Column(Integer)
    judorth = Column(Integer)
    jdcons = Column(Integer)
    judref = Column(Integer)
    judothr = Column(Integer)
    judgen = Column(Integer)
    islmsun = Column(Integer)
    islmshi = Column(Integer)
    islmibd = Column(Integer)
    islmnat = Column(Integer)
    islmalw = Column(Integer)
    islmahm = Column(Integer)
    islmothr = Column(Integer)
    islmgen = Column(Integer)
    budmah = Column(Integer)
    budthr = Column(Integer)
    budothr = Column(Integer)
    budgen = Column(Integer)
    zorogen = Column(Integer)
    hindgen = Column(Integer)
    sikhgen = Column(Integer)
    shntgen = Column(Integer)
    bahgen = Column(Integer)
    taogen = Column(Integer)
    jaingen = Column(Integer)
    confgen = Column(Integer)
    syncgen = Column(Integer)
    anmgen = Column(Integer)
    nonrelig = Column(Integer)
    othrgen = Column(Integer)
    sumrelig = Column(Integer)
    pop = Column(Integer)
    worldpop = Column(Integer)
    chrstprotpct = Column(Float)
    chrstcatpct = Column(Float)
    chrstorthpct = Column(Float)
    chrstangpct = Column(Float)
    chrstothrpct = Column(Float)
    chrstgenpct = Column(Float)
    judorthpct = Column(Float)
    judconspct = Column(Float)
    judrefpct = Column(Float)
    judothrpct = Column(Float)
    judgenpct = Column(Float)
    islmsunpct = Column(Float)
    islmshipct = Column(Float)
    islmibdpct = Column(Float)
    islmnatpct = Column(Float)
    islmalwpct = Column(Float)
    islmahmpct = Column(Float)
    islmothrpct = Column(Float)
    islmgenpct = Column(Float)
    budmahpct = Column(Float)
    budthrpct = Column(Float)
    budothrpct = Column(Float)
    budgenpct = Column(Float)
    zorogenpct = Column(Float)
    hindgenpct = Column(Float)
    sikhgenpct = Column(Float)
    shntgenpct = Column(Float)
    bahgenpct = Column(Float)
    taogenpct = Column(Float)
    jaingenpct = Column(Float)
    confgenpct = Column(Float)
    syncgenpct = Column(Float)
    anmgenpct = Column(Float)
    nonreligpct = Column(Float)
    othrgenpct = Column(Float)
    sumreligpct = Column(Float)
    ptctotal = Column(Float)
    version = Column(Float)
    
Base.metadata.create_all(engine)